.intro-container {
  padding: var(--padding-desktop);
}

.weather-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: flex-end;
  padding: var(--padding-desktop);
}

.weather-container .container {
  margin-right: 15px;
}

.map-container {
  padding: var(--padding-desktop);
}
