body {
  max-width: 2040px;
}

/* INTRO CONTAINER */

.intro-container {
  padding: var(--padding-desktop);
  height: fit-content;
}

/* WEATHER CONTAINER */

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-desktop);
}

.weather-container .container {
  margin-left: 15px;
  margin-bottom: 0;
}

/* MAP CONTAINER */

.map-container {
  padding: var(--padding-desktop);
  padding-bottom: 25px;
}
