:root {
  --font: 'Lato', sans-serif;
  --color-white: #f8f1f1;
  --color-blue: #11698e;
  --color-dark-blue: #19456b;
  --color-green: #16c79a;
  --border-radius: 7px;
  --padding: 25px;
  --padding-tablet: 40px;
  --padding-desktop: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #19456b,
    #184c72,
    #175279,
    #16597f,
    #146086,
    #0d6b8f,
    #057698,
    #0081a0,
    #0093aa,
    #00a6ac,
    #00b7a6,
    #16c79a
  );
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  color: var(--color-white);
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  height: 100%;
  align-self: center;
}

/* INTRO CONTAINER */

.intro-container {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

h1 {
  margin-top: 5px;
  font-size: 2.8rem;
  margin-bottom: 10px;
}

h1 span {
  font-style: italic;
  letter-spacing: 2px;
}

.intro-container h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.location {
  margin-top: 10px;
  outline: none;
  padding: 10px;
  font-size: 1.8rem;
  border-radius: var(--border-radius);
  border: var(--color-white);
  background-color: var(--color-white);
  margin-bottom: 15px;
  font-family: var(--font);
  height: 45px;
}

.buttons-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

button {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 4px;
  width: fit-content;
  border-color: var(--color-white);
  width: 45px;
  height: 45px;
}

.search button {
  margin-right: 12px;
  background-color: var(--color-green);
  border: var(--color-white) 2px solid;
}

.search button img,
.delete button img {
  width: 30px;
}

.search button:hover,
.search button:active {
  background-color: #7cd1bc;
}

.delete button {
  background-color: var(--color-blue);
  border: var(--color-white) 2px solid;
}

@media (min-width: 400px) {
  .location {
    width: 260px;
  }
  .input-container {
    flex-direction: row;
  }
  .buttons-container {
    align-self: center;
    margin-left: 12px;
    margin-bottom: 5px;
  }
}

/* WEATHER CONTAINER */

.weather-container {
  grid-row: 2/3;
  height: fit-content;
  padding: var(--padding);
}

.weather-container .container {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 23px auto 60px;
  padding: 15px;
  font-size: 1.7rem;
  margin-bottom: 10px;
  max-width: 375px;
}

/* title */
.container h3 {
  grid-column: 1/4;
  grid-row: 1;
  font-size: 1.7rem;
}

.container img {
  grid-row: 2/3;
  justify-self: left;
  width: 90px;
}

.container .description {
  grid-row: 3/4;
}

/* temperature */
.container h2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 3.5rem;
  align-self: center;
}

.feelsLike,
.humidity,
.wind {
  grid-column: 2/4;
  justify-self: end;
}

.feelsLike {
  grid-row: 3;
}

.humidity {
  grid-row: 3;
  align-self: center;
}

.wind {
  grid-row: 3;
  align-self: flex-end;
}

/* @media (min-width: 425px){

} */

/* MAP CONTAINER */

.map-container {
  grid-row: 3/4;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: var(--padding);
}

#map {
  width: 100%;
  height: 550px;
  border-radius: var(--border-radius);
}
