* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 200px repeat(2, auto);
  justify-content: center;
}

.input-container {
  grid-row: 1/2;
}

.weather-container {
  grid-row: 2/3;
  background-color: palegreen;
  height: 200px;
}

.weather-container .container {
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 7px;
  display: inline-flex;
  flex-direction: column;
}

img {
  width: 100px;
}

.map-container {
  grid-row: 3/4;
  background-color: pink;
  height: 100vh;
  width: 100vw;
}
